{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                },
                "modules": "commonjs",
                "uglify": true,
                "useBuiltIns": true
            }
        ]
    ],
    "plugins": ["transform-object-rest-spread"]
}